<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/jss/script.js"></script>
        <title>About</title>
    </head>
    <body>
            <div class="main-content">
                {{>header}}
                <img src="/img/robot.png" class="potrait" alt="robot">
            </div>
           
            {{>footer}}
    </body>
</html>