<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/jss/script.js"></script>
        <title>Help</title>
    </head>
    <body>
            <div class="main-content">
                {{>header}}
                <p>{{helpText}}</p>
            </div>
            
            {{>footer}}
    </body>
</html>