<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>Serving Statics</title>
    </head>
    <body>  
            <div class="main-content">
                 {{>header}}
                 <p>Use this site to get your weather!</p>
                 <form action="">
                     <input type="text" placeholder="Location">
                     <button>Search</button>
                 </form>
                 <p id="message-one"></p>
                 <p id="message-two"></p>
            </div>
           
            {{>footer}}
            <script src="/js/script.js"></script>

    </body>
</html>